<section class="new-training" fxLayout fxLayoutAlign="center center">
  <form (ngSubmit)="onStartTraining(f)" #f="ngForm">
    <mat-card fxFlex.xs="100%" fxFlex="400px">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title fxLayoutAlign="center">Time to start new training!</mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayoutAlign="center">
        <mat-form-field *ngIf="!isLoading && exercises">
          <mat-select placeholder="Choose exercise" ngModel name="exercise" required>
            <mat-option *ngFor="let exercise of exercises" [value]="exercise.id">
              {{ exercise.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-spinner *ngIf="isLoading"></mat-spinner>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center">
        <button *ngIf="exercises" type="submit" mat-button [disabled]="f.invalid">Start</button>
        <button *ngIf="!exercises && !isLoading" type="button" (click)="fetchExercises()" mat-button
          [disabled]="f.invalid">Fetch
          Again</button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>